body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}




.portfolio {
    width: 70%;
    margin: auto;
    background-color: white;
}




header {
    background-color: #76ad5d;
    text-align: center;
    padding: 20px;
    color: white;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header h1 {
    margin: 10px 0 5px;
    font-size: 20px;
}

header p {
    margin: 0;
    font-size: 11px;
}




section {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: white;
}

section h2 {
    font-size: 16px;
    margin-top: 0;
}



ul {
    padding-left: 25px;
}

li {
    font-size: 12px;
}




table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
}

th {
    background-color: #76ad5d;
    color: white;
    text-align: left;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #ddd;
}




form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 12px;
}

input,
textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 70px;
}

input[type="submit"] {
    width: 60px;
    margin-top: 10px;
    background-color: #76ad5d;
    color: white;
    border: none;
}